<%= form_for @rechnung, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Rechnung</legend>

    <div class="control-group">
      <%= f.label :number, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :number, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :renudate, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :renudate, :class => 'number_field', :use_month_numbers => true, :order => [:day, :month, :year] %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :payee, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :payee, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :netto, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :netto, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :mwst, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :mwst, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :total, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :total, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', rechnungen_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
