<h1>Rechnungen:</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nummer</th>
      <th>Rechnungsdatum</th>
      <th>Empfänger</th>
      <th>Netto</th>
      <th>MwSt</th>
      <th>Brutto</th>
    </tr>
  </thead>
  <tbody>
    <% @rechnungen.each do |rechnung| %>
      <tr>
        <td><%= rechnung.number %></td>
        <td><%= l rechnung.renudate, :format => :default %></td>
        <td><%= rechnung.payee %></td>
        <td><%= rechnung.netto %></td>
        <td><%= rechnung.mwst %></td>
        <td><%= rechnung.total %></td>
        <td>
          <%= link_to 'Bearbeiten', edit_rechnung_path(rechnung), :class => 'btn btn-mini' %>
          <%= link_to 'Löschen', rechnung_path(rechnung), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>

<%= form_for @rechnung, :html => { :class => 'form-horizontal' } do |f| %>
      <tr>
        <td>
          <%= f.number_field :number, :min => @max_number, :class => 'number_field span1' %>
        </td>
        <td>
          <%= f.date_select(:renudate, {:use_month_numbers => true, :order => [:day, :month, :year]}, {:class => "span2"})  %>
        </td>
        <td>
          <%= f.text_field :payee, :class => 'text_field' %>
        </td>
        <td>
          <%= f.text_field :netto, :size => 6, :class => 'text_field span1' %>
        </td>
        <td>
          <%= f.text_field :mwst, :size => 6, :class => 'text_field span1' %>
        </td>
        <td>
          <%= f.text_field :total, :size => 6, :class => 'text_field span1' %>
        </td>
        <td>
          <%= f.submit 'Neu', :class => 'btn btn-primary' %>
        </td>
      </tr>
<% end %>
  </tbody>
</table>

